.App {
  display: grid;
  place-items: center;
  height: 100vh;
  width: auto;
}

header {
  background-color: darkgray;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 100%;
  box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black
}
/* data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxIQEhUQEhIWFhAQFRAPEBUVFxAVEBUPFREWFhUVFRUYHSggGBolHRUVITEhJikrLi4uFx8zODMtNygtLisBCgoKDg0OFxAQGC0fHR0tLS0tLSstLS0tKysvLS0tLS0tLSstLSsrKy0tLTYtLS0tLS0tKy0wLS0rLS0tLS0tLf/AABEIALcBEwMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAAAAgMEBQYBBwj/xABIEAABAwIEAwUDCQQHBwUAAAABAAIDBBEFEiExBkFREyJhcYEyQpEHFCNSobHB0fBTYnKSFUOCg6LC4SQ0VNLT4vEzRGOEpP/EABgBAAMBAQAAAAAAAAAAAAAAAAABAgME/8QAJBEBAQACAgIBBAMBAAAAAAAAAAECESExAxJhE0FRcTKx8CL/2gAMAwEAAhEDEQA/AMG+RztyShsROwVvBhXVXdBhIOgCi56VMdszDhbjvorGDBh0ufFbOmwIKziwdo5LO5r9GJiw6w2SX0+Vbt+HC2yy+OwZCiZbosRKanunpqWwTWGPuVaTuFkW6pa4YvFIlUELRYrbVUbYnPcGtBLibADe61lRYZTjY7rZUHyd1D2Z3aEi9kzBwrIyQscL5TvyR7Q/WqShw1zvyWnw7AXHkr7DMHYywO/2/BaGOks3QW8fe/0WVz/C5i8+xqhZCNTr0G6xdVJmdtYcl6LxZTNaCfiV5xO4FxtstMEZG0XQhWkoPITgqXDmmUI0D4q3dVJp8YljN2uIPmVXoS1A09PxxVM5381Nj+UepHutPqVi0Kfp4/gNu75R5z7oHqqjEeKJZ9HONuiz6AiePGfY9pma6S5qIktySkV7UhPvCaIVyppKF1CZOIQhACEIQHptNg5vc7K9oaBrN1WS4206MHklMxVrRmkdr0XJdujhe57GwCU2QcyslPxPmNo23HXYKDNjT+b7eDdPt3T1S22dVXMZoTr05/BZLHKgPPTz/JVM2MOG2n3/ABVZUVznblVJdlas46hrFHqsXJ0Gyqu0c85Rck6AC5JK33C3ydOcBPXHsohqIybOI/ePujw3V6Ttl8HwWor35YmnLfvPPsN9eZ8F6jw1wTBQjtHkOk5uNvsCtaOtjDeyo42iNgsZCMsbQOnVZzF+LWAmOD6eYaOkP/oMPh9b008UE01fi8cbLkhjBpmdpfyHVZN2IuqHZadlmneRw7x8Wt5eqrYcPlqHh8zjI87X9lo/dbsAtvhOGCJu2u5Wdzud1iuY+vNIwvC2xi51cdXOOpJ81E4kxuKkZd57x9lo9p3p+KruJ+Mmw3igs6TYu3Y0/iVj6bCJqtxlkJc53Mq8cZ1E22s/xBjMtU4l2jL6NG3r1VMtpivDbo23I0WQqmZXWW2tRmaQhCAEIQgBCEIAQiy7lQHF1q4QutQEqJKKTGgrNZLky5POTTk4VIXF0ritIQhCAEIXUBoZsXcNI25R46v/ANFE7ZztTcnqfwCjmF9tbD7024kbm589FlpomuqXDnZNuqD4/imWknc2HhoVa4JgM9W7LDGSPeeb5R5uRoK57zz0V1w5wdVVrhlYWR7mR4IZbw6+i9EwPgOkoW/OKpwe9ouS+wjafBp3TlRjlRWkxUbeypm3zTu7oyje3QfrRVrQQ6WkoMHADR29adM1rkO6NAvl8hr1KjYziBBE2IyOF9YaKI/Su6GS3sD7fuVfPjEVLeOi+kn2kq36gdREDsPH4X3VTTYZI92YZi9+r5HG8ridTb6o8d/HkpysnY1vpKrsVqKz6J1ooG2y08WjAOXau3J8PsCfwbDn9qIwzu2vfkPRT8Mw5rXMhjbmlebEDZotq53gFppamHDgWO+kneMwAt6X6BY7ufxGmpj12kxwRUkfaSuAAG53J6BYviXi18wLI7xxbfvuHj0CrsWxaSZ+aVxcRezfcZ5BQ8LoXVcwjbtu88gFpjJrjpF+UrhnA3VLw8j6MH4r0+kw5sbQLbJ7CcMbAwNAtYLI8fcYCAGCE/SEWJHuha4xGVU/yicQMZeCMgv94jYeC8wcbm53KkTvc4lziSTqSVHKradOIQF2yA4lMbcoDU/TRXKAUyC6dbR3VhTUquKPCydUlM9HhpPJT6bAnO2atbR4OeivKTCrI1Bt5lWYC9u7VG/ohw5Fev1OCh1iuTYG0625JZfAjxqWAsTBWv4ywvstQNysiVCjbk25OuCacqhU2UIKFaAhCEB1CEICSSTuVJoaJ8xDY2FxPgr7h3g985Dn6NXqmCYLDSss1oFtzzWa2Q4Y+Tq9pKo355Bt6lbaqxGnoWCNjRntZkbLX9eg8VDxLHTqyLyLuQ8lj8SrmwOznvyu131Pn0CN/g9flb4m7tB84rpLRtN2RD2b8gB7zlnMVxyWsAiYOzpm6Njbu7xeRv5bKBLLLVvzPNyNGt91o6ALQ4Rhop2l8pAYNdVGWfr+1SbN4ZgWmYgAb25DRL4Xopj/ALHDZz48wmmcSYmNLiY2g+87KW90bc7KxpqWevsdaehHec86SSMGtmn3QeZ6KRW1TXRiGlHY0DdC8XbJO7oznlPNx1KiY8bzVv7YkSYjFRNFLSd+dzi2apdY/Sa5tR7TtDoNAqKteWFxuS92rnHVxPUlLqaVhyOuGthIeAPZaR1/VystjeMGV3ZQ3sTYnmT+uSqY3Pm9JtmP7Le908ogiGaR5tfkPHyXr3CfDjKOIDd51e7mSqL5OuEvm7O3kH0rxfXcD81ZcZ8Wso4y1pvIRZo/E+C1kZ26Mcd8WNpWGOM3lcLC3IdV4vUTOkcXuJJcbkp6orjUSGSR13ONzcp0Rs6D7UykQHN/WijPUype3YW+1Q3EJwUldRddDkydap2Hx31tptzUPtf1otlwQ5ha7Pa2t79n8SHa28QppxIwGna42I39VtqPDmhZiMtbKSy2T3enotXhzy8LP2XpYwUrQpTYwE1HGeq65h6qpkViWACF3s7hRaZpvuFYRtVJYPj+izRE9NV5Q5q904sps0TvIrxCRtiR0JCyt1lWs5iM4Jl4Uh4TD1cTYZKF0ri0ZhCE9DHdK3RybN5V1TxToUe6/V7SypjgZckABUtbxAZTlabM+9ZCrxN8hu46dOSgy17j3W+pS0GgxDG8ncj1f15BVcMTn3c43cdSSoULbalW+GUks3dYNNieSX6OE4AXRSu7pcSLADqt5TYFnYKisd3Gd/svcAH1uql4FhENHFnfbNa7nFIq6rt2uJuWWOVgGhNtCVGVxx/6va8d3iGq2V1cA0gso23LWeyZbbZ+jOYHhqqjF6gXyA92P2iLZWabDq6w2VdQ4xIKUAuyOtleSbuAa9wAYORI67AeV8hjmOGUdjESIhe++pJudTr680Y43O7pZZTGahzH8bMp7GLSME63vf15nxWw+Tbg+9qmYaDWMHn+8VVfJ9wealwlkFoW66+8R+C9K4ixuOhi2FgLMaCLk26dFuyN8W8Sx0UX75BDG9fE+C8QxPEJKmQySG+Y/qyXjeKvrJXPe8C+1zpbkAo8FMTYdswDzTIMiHj/AIk9/N9q7LSho/3uM+AJKhyaf1wPlmS0YniHJrv16qIWlOud/wDJf4po+acIWXWjwXF0NHU/BMiuzK22G4c6Ok7Qxh19WPDhtta1r/asfSxxlwz5y24uGjvEX1t4rX11HTwNjno5JDAXZJ45A4OjktcZmna/5KMlSp+A4e94ub2OoWww+ge3QbeiquHHZxcCw6rV0WnNZdr6Px0jrIdh7vH4qfE8peZXJE7QIaAgg/irBjbJtzyEu50VTRVBxmDNG4eBXgmKxZJXt6OK+iJ2XaQvCuOKbs6t4+sA78Fn5JzGnjZt6jvT0hTDlWJZGyhBQtWQVhRMuq9WuHKM+l4drFsGiFNj2CFz7baUDpidOSeiHIbqPTxF5sFqsDwezg563rKDCeH5JLOcLNW9gfDSQ3NgGj1KhVuJR08VyRoNB1WAxLGHzm59n3RyUdm17OIhM/M8tbE2+UG5v4kJjE+JszS2NxDLe17I8gN1j2yG1zo0KrxCvL+4PZCJ4pbunc+NJOL4q6Y9m02jGnorjgbhN1Y/O4EQM9o/WPQfmmeDOE31rwSCIge8evgF7M4wUEFrBsbAB6fitemZGIYhDQU+1mtGVjRa7jsALLxbiDEZ8RlcWtJDNwCMoudhe1v9E9xXxFLWS5WB1tQxjbl3wHP8lRMwepdtTynyY/8AJBLH+iagWvSxjQe0+Mfe9S4MOmAv83ox/HLD/wBRUw4dqz/7aT1aR96dHCtZv83cPMxj73I4CzldIzQtw8eToXH7HFV09S886Ufwtb+SjzYFUM9pjR/eQfg9RzQP/d/nj/NHA3T7pnftIvRo/wCVNmd37Rvo3/tTRpHdWfzs/NJdBb3m/wAwTB4PudZQP7LvyTzZR/xB9GOUIRfvN+KdFKP2sfxf/wAqAtcLqoxIHPrZYrHuvbDnseRIzbXt1W5gqzeQ1dpHxBtPWFoGWWB13U9U0DkQbG3Vee4bgZqCWxzwdpYmOMvcHyO17jLtsXG2xIWi4crZJIQWSRx1NG11NKZjlY6hkPczX5xv0A5XCnKBqsAhdk+h0iJOUuBvlv4rW4TCAPpHuLugAA/NU2DMlELA6sjJyi5DGEHyN1aU7H/8WL+DGLJe1/GG8gU5lH1VXwB43qCf7LB+ClMv+1cfRv5LSX4/pB0s8ErL4KO6O/8AWSemUf5U5Cyw9px/iJKcvwCnBeO/KxS5Z2P+s0j4G/4r2QrzT5YaUlkcnJrrH1CnyThWF5eTyJhyeemXJ4nkQhCFozCs6ByrFOo1GfS8O18yXRCjNQsdNVjg9KGkK+rasRtvzWaNZ2ar6nEHyHfRXZuoh7Fat8puduQTUb7N1smTP1UGpqSdBsqkTacrKwu0GyuOD+F31kguCIxq4pHCnDT6uQad3mfBe4YRhkdHEGtAAA1PNWl2ipoqOIMbYBoXlPHvFbppMkZ+jbtrueZsp3HvFmYmCM6bOI+5eePic87j4pHeEumiBPaGrbG83Ona5hcai7R+rp1sIO9eAPHtyoIoHdW/FTWYCcuZ0rG+G5QRz5nTe9iB9Ipj95SHUlFzq5D/AHJ/FyhS0Qb/AFgKZEH7wRr5G08wUQ/rZj5RsH3lNO+aDbtj59mEx81H1wm3Rj6yAec6Dk1/qWppzo+TXfEfkkFo6rmUdUyLDmfVPx/0XC5v1ftRlHVKp42ue1rnZWlzQ53RpNifQIDScOQU1TG6nZGY8QH01LMHnKXxgER5dgTYn/wrqOljqP8Abm00EnzkFtTHNI6NsdY0/StDA0+0QHC/1lC4t4cZh5gq6OQuaMricwfZ4PddmHunmFMbBQTzRzOqXD5wW1gp2AlrKgAA5soJBJB6FTav4bRsleAAGQNAFgM07tB/YCl07q8+/TD+7nd/nCgx4jT83Tf/ALTf7VIjr6ffJMbfuVRN/VZ7VpaR0+IEf7xTN/8ArTO++cJ5lHW86uH0pnD75ioMFXAdqeU+ccn+ZT4nM5Urv5GfiVcyg9SnUVUd6wD+GGMfeSl01JK03fVueBu3JTtafMht/gUtjG8qb7Ix+KkRNH7LL/J+CqJs/wBwdKyPymUnaUMh/Z5X+gIK1qr+IKTtqaaIbvjkaPPKbJZzcqZeXzbImHJ97Uy4IxXkQhCFbN0BW2HwXVZA25Wy4fw/NZY+XLUa+KbJZRG2y4tnHhgsNELk+pk6vSPKJZy4oMtgo2dIc+679OK0qWUlXHDWAPqpAAO7fU+CZwDBnVDwANF7Rw7hDKaMADW2pTJNwPC46WMNAtYanxWS484v7NpijPeOl+im8Y8TCFhY0946Lx6vqzK4ucbklLs+jUjzISSfFDYD1XGRX5qR80H1imRMdJfd1kPpwPfTsdE07uKcdRRgbn4o2FcWeKcZADzTjoWJHZNQRTqdg977lHcB1T/ZNSMrUAyuhKcAuaJgaK24XhgfUNbPbIb2DjZpdyBVVotvwLRxSN9ljne/mAJt6qcrqHGsZQwlslCxg7OZt2AataSO9Y8hfWypsF4aGHyiQkPkZdpsdbHbS6vaCnYwEtdleMzYz9XT7llIMJrHSukfMS4mxNwNtljL3y0yjb/0w465T+vVPR46BoeayjcInPtT/wCJPjhsusTPfzcfzRstPRsOqe0bmGgVg0LLYPgoiAyzOtzGa4V9HD++fitMaViZZCaDR1XQB1V7SS/T1SXu/XgjIL9dCuu5oD54x7D+xqZ4vqSyAfw5iW/YQqmWNeg/KXQZKvtANJ2Nd/ab3T9wWJqGLGcVt3FU4LiVJukreMak4e27l6dwxD3QvNcKHeXqfDA7oXP5ptt4rppWRaLiktGiFHov2fORKsMJw50zgAEzQ0hkcByXp3C2DtiaHEarqcy24ZwVtOwG2vNNcUcStgblae8jHcdbCwgHVeU4xiJleTdLtXXJGK4k6ZxJO6r0J2IhPpPZq67mPUp6V4KejLQEEi3d4/aklx6lTZKgKK990A2hKBTrHBMGbFcUh8gTDigOIQuoBUMTnkNaLk7BXlLh1TRltQWdwEZrG9vMKJw7UNjmBdsvQq2oidTvGdpzDQXF1nnlZwrGKSrmfPGSx9tiNba+Cn8PU7iLveCT1OqyNMx4cBfu8luMFgDW95wuVnlNRcWjKNl9XNVlT00Qt3h8FXNy9QpceU81G1L2mezkVYwyN6rPU0YHMqxhHmqxyKxbBzV1rgoTSAuiUArT2RpKf4JLkhsgN0B+itLH/KTRGSBsgF3RO/wleU1UTui+gaiJsgyEXa7RZ6v4Rids2yXruq99TTweZhB1CbXp+K8HEXsLrLVvD5b7q0mNZ+0VGFe0vTuF390Lz2moTGVsOHK8M0Kyzxa4V6Cw6IUSOuZYaoS0bzrhvDQLE8lf4lizYW2B1VPNWCJuiyuL4kXk6q+0EYzibpXHVVKCUKitCEIQQQhCAEIQgBCEIAQhCAEIQgBWGGTa2KrwFMgonHUEApU41dNOwtsB3hzVhDmdqsvhoINjutbRPAaFjlNNImU0Z5lW0ItzVO2YKdTS3Wal1R3VtCFWUTx0VrE8KsYmngxdEKQZkCoV8FyfDbXSHP0Tbp9U0ZVcqae7UaeCmHUKhknsrKjqczVUTRUxAqlqsOY7cK7meoMjlriis7W8NscLgarIYpQOgO2i9RDwqPiGla9p0Vfy4qeunnwxd40udEImpQHELqj6a/dS4pXX0BVQTdD3XN1xQu0IQhBBCEIAQhCAEIQgO6LuiShACEIQAnqdgO6ZUijtfUoCxpI232Tk0Qa64OnRLhY3e67KwOUKEL9bq7gqrBUDRlTomKmzapWiZVhWdHVhYxsrlIjqXDmpuB7ei0lWOqt4agdV5hT17x7xVrS4y7qp1YfbfGYdUlsoWXixMnmpcVaeqnZ6XctRYqJNUFRnVmqjyVd1piiuSzuurTCKg2sqh0wKcw2rAdZbYdoy6aV7lHkcldsCFGmmC3kZVx0llDrHFwIXZZgmHziyuRG2Vqac5j5rimznvHRdV6Lby1CELjdAQhCAEIQgBCEIAQhCAEIQgBCEIATkYQhAWdPJouGbVCFKkmLVTGRhCFJl9mEBgQhIHGtCeiaEISpxZ0xHipzJgOSELKrOPqR0Udzx4oQtMU5GJKi2ibpqshy6hbY9sq1NFXBzVyocTshC6owqK423TZkauIVpQJXtuUIQmH//2Q== */

body {
  background-image: url("https://cdn.pixeor.com/photo/2018/10/piano-keys-close-up-pixeor.com_.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.song-maker-container {
  background-color: white;
  display: grid;
  place-items: center;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black
}

.bpm-meter{
  color: black;
}

.songs-container {
  height: 100vh;
  width: 45vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  overflow-y: scroll;
}

.user-page {
  display: flex;
}

h1 {
  color: white;
}

.checkbox-row {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 15px;
}

input[type='checkbox'] {
  height: 15px;
  width: 15px;
  background-color: #eee;
  margin: 0px;
  padding: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[class='measure-line'] {
  margin-right: 5px;
}

.chord-options {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.tempo-form {
  display: flex;
}

.instrument-form {
  height: auto;
}

.beat-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.melody-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}


.song-box {
  height: 15vh;
  width: 90%;
  border-style: solid;
  border-width: thin;
  background-color: white;
  border-radius: 25px;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
}

.chord-container {
  display: flex;
  width: auto;
  height: auto;
  margin: 10px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.mode-select {
  display: flex;
}

button {
  margin-bottom: 10px;
}

.chord-box {
  display: flex;
  height: 100px;
  width: 100px;
  border-style: solid;
  border-width: thin;
  background-color: white;
  border-radius: 25px;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.chord-box:hover {
  height: 99px;
  width: 99px;  
  box-shadow: none;
}

.chord-name {
  display: flex;
  width: 100px;
  flex-wrap: wrap;
  flex-flow: column wrap;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
