* {
  box-sizing: border-box;
}

.App {
  font-family: "Courier New";
  position: relative;
  display: grid;
  place-items: center;
  height: 100vh;
  width: auto;
}


:root {
  --spotify-green: #1ED760;
  --dark-green: #056952;
  --dark-background: #121212;
  --header-background: #1A1A1A;
  --card-background: #181818;
  --controls: #B3B3B3;
  --spotify-text: #595959;
}

/* spotify green 1ED760 */
/* spotify light charcoal B3B3B3 */
/* spotify charcoal 121212 */
/* spotify text 595959 */
/* spotify selection text bg 333333 */
/* spotify controls B3B3B3 */

header {
  background-color: darkgray;
  width: 100%;
  height: 100%;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2); */
}

.button {
  cursor: pointer;
  border: 1px solid #888;
  background-color: #E0CFB8;
  padding: 2px;
  border-radius: 4px;
  height: 21px;
  padding: 0 5px;
  font-family: inherit;
  font-weight: bold;
}

.modal-button {
  background-color: #B2854E;
  height: 40px;
  width: 100px;
  color: #fff;
}

select {
  border: none;
  cursor: pointer;
  background-color: #E0CFB8;
  padding: 2px;
  border-radius: 4px;
  font-family: inherit;
  font-weight: bold;
}

select:focus {
  outline: none;
}

/* .navbar-with-image {
  position: absolute;
  top: 0;
  left: 0;

} */

.search-bar {
  position: absolute;
  top: 5%;
  right: 3%;
}

fieldset {
  border-radius: 25px;
  background-color: #FFFDF0;
}

fieldset span {
  background-color: #FFFDF0;
  border-radius: 5px;
  margin-top: 3px;
}

.chord-selection {
  width: 200px;
}

.menu-icon-background {
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 12px;
  margin: 5px 3px 5px 0;
  opacity: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu-icon-bar {
  width: 75%;
  height: 10px;
  background-color: var(--controls);
  opacity: 100%;
  z-index: 1;
  margin: 2px;
  border-radius: 5px;
}

.logo {
  position: fixed;
  margin: 0;
  top: 10px;
  left: 15px;
  color: var(--spotify-green);
}

.logo span {
  color: var(--controls);
  font-size: 0.8rem;
}

.navbar {
  position: fixed;
  top: 10px;
  right: 0;
  display: flex;
  cursor: pointer;
}


body {
  /* background-image: url("https://3.bp.blogspot.com/-Kj83IXBvWEE/VWNsUP6KYeI/AAAAAAAAABY/IbVEjp3BuOE/s1600/IMG_0278.JPG"); */
  background-color: var(--dark-background);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* body:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
} */

.grid {
  position: fixed;
  top: 100px;
  display: flex;
  flex-direction: column;
}

.grid-page {
  display: grid;
  place-items: center;
}

.song-maker-container {
  background-color: var(--dark-background);
  padding: 15px 10px;
  display: grid;
  border-radius: 15px;
  border: 1px solid #eee;
  /* box-shadow: inset 0px 0px 10px 3px rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.4); */
  grid-template-areas:
  "chords"
  
  "beat"
  "mel"
  "save"
}

.song-options-container {
  width: 196px;
  display: grid;
  background-color: var(--dark-background);
  border-radius: 15px;
  /* border-left: 1px solid #aaa; */
  /* box-shadow: inset 0px 0px 10px 3px rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.4); */
  grid-template-areas: 
  "co"
  "po"
}

.bpm-meter {
  color: var(--controls);
}

.songs-page .songs-container {
  width: 100vw;
}

.songs-container {
  height: 100vh;
  width: 45vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  overflow-y: scroll;
}

.user-page {
  display: flex;
}

span, p {
  font-family: inherit;
  font-weight: 900;
}

h1 {
  color: white;
  font-family: inherit;
}

h2 {
  font-family: inherit;
}

.checkbox-row {
  display: flex;
  flex-direction: row;
  margin: 1px;
  height: 15px;
}

.checkbox-meta-container {
  margin: 1px;
}

.checkbox-container {
  height: 15px;
  width: 15px;
}

.checkbox-container input {
  display: none;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  height: 15px;
  width: 15px;
  background-color: #1d1d1d;
  border-radius: 3px;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
  cursor: pointer;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: var(--spotify-green);
}

.chord-checkbox-container {
  display: flex;
  margin: 5px 0;
  height: 20px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #B2854E;
  border-radius: 5px;
}

.chord-checkbox-container input {
  margin: 0 0;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.chord-checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.chord-checkbox-container input:checked ~ .checkmark {
  margin: 0 0;
  background-color: var(--spotify-green);
}

.chord-checkbox-container .checkmark span {
  background: transparent;
  color: #fff;
}

.chord-checkbox-container .checkmark {
  height: 100%;
  width: 100%;
  background-color: #B2854E;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.measure-line {
  margin-right: 5px;
}

.tempo-form {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.instrument-form {
  color: var(--controls);
  height: auto;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.beat-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.beat-form {
  grid-area: beat;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.melody-form {
  grid-area: mel;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.melody-container {
  display: flex;
  flex-direction: column;
  margin: 10px 3px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}


.song-box {
  height: minmax(15vh 20vh);
  width: 90%;
  display: grid;
  background-color: #FFFDF0;
  grid-template-columns: 110px auto;
  grid-template-rows: 34% 33% 33%;
  border-radius: 25px;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  grid-template-areas: 
  "strt title"
  "strt usr"
  "strt opt"
}

.song-list-start-button {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  font-size: x-large;
  border: 1px solid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(-20deg, #FFFDF0 0%, #B2854E 100%, #B2854E 100%);
  cursor: pointer;
}

.song-list-start-button:focus {
  outline: 0;
}

.song-list-start-button-container {
  grid-area: strt;
  display: flex;
  align-items: center;
  justify-content: center;
}

.song-title {
  grid-area: title;
  margin: 5px 0;
  text-align: left;
  overflow-x: scroll;
  /* height: 27px; */
}

.song-options {
  grid-area: opt;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 5px 10px 0;
}

.song-options button {
  margin-bottom: 0px;
}

.playback-options {
  display: flex;
  grid-area: po;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.random-chords-button {
  grid-area: rand;
  border: 1px solid;
  height: 85px;
  width: 85px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(-20deg,  #FFFDF0 0%, #B2854E 100%, #B2854E 100%);
  cursor: pointer;
}

.grid-start-button-container {
  grid-area: start;
  display: flex;
  align-items: center;
  justify-content: center;
}

.random-chords-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#grid-start-button {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  font-size: x-large;
  border: 1px solid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(-20deg,  #FFFDF0 0%, #B2854E 100%, #B2854E 100%);
  cursor: pointer;
}


#grid-start-button:focus {
  outline:0;
}

button:focus {
  outline:0;
}

.bar-labels {
  display: flex;
  width: 620px;
  justify-content: center;

}

.bar-label {
  display: flex;
  justify-content: center;
  width: 134px;
  color: var(--spotify-text);
  border-left: 1px solid var(--spotify-text);
}

.bar-label.last {
  border-right: 1px solid var(--spotify-text);
}

.chord-options {
  grid-area: co;
  display: flex;
  justify-content: space-around;

  /* display: grid;
  margin: 10px;
  grid-template-areas:
  "start"
  "rand"
  "save" */
}

.login-all {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-all button {
  width: 50%;
  margin: 0 auto;
}

.login-all span {
  color: red; 
}

.login-fields {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-fields input[type='submit'] {
  width: 100px;
  margin-bottom: 100px;
  margin-top: 5px;
}

.username, .password {
  height: 30px;
  width: 100%;
  font-size: x-large;
  font-family:  inherit;
  margin-bottom: 15px;
}


.chord-form input[type='submit'] {
  margin-left: 300px;
  margin-top: 10px;
}

.chord-form-chord {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.song-maker {
  grid-area: usr;
  margin: 5px 0;
  text-align: left;
}

.chord-container {
  grid-area: chords;
  display: flex;
  width: auto;
  height: auto;
  margin: 10px;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
}

.mode-select {
  display: flex;
}

.save-container {
  grid-area: save;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-button {
  height: 85px;
  width: 85px;
  border: 1px solid;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  /* background: linear-gradient(-20deg,  var(--spotify-green) 0%, var(--dark-green) 100%, var(--dark-green) 100%); */
  cursor: pointer;
}

.chord-box {
  display: flex;
  height: 50px;
  width: 134px;
  margin: 0 3px;
  /* border: 0.5px solid #aaa; */
  background-color: var(--spotify-green);
  color: #fff;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* box-shadow: 1px 1px 5px 0.5px rgba(70, 70, 70, 0.2); */
  cursor: pointer;
}

.chord-box:hover { 
  /* margin: 0 2.5px; */
  /* box-shadow: 1px 1px 2px 0.5px rgba(70, 70, 70, 0.2); */
}

.chord-name {
  display: flex;
  width: 100px;
  flex-wrap: wrap;
  flex-flow: column wrap;
}

/* ################################################################################# */

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #E0CEB8;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border-radius: 25px;
  border: 1px solid #888;
  width: 650px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* ################################################################################ */



input[type=range] {
  width: 100%;
  margin: 9.8px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #E0CFB8;
  border: 0.1px solid #010101;
  border-radius: 8.2px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -9.9px;
  width: 15px;
  height: 28px;
  background: #E0CFB8;
  border: 0.9px solid #000105;
  border-radius: 43px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #E0CFB8;
}
input[type=range]::-moz-range-track {
  background: #E0CFB8;
  border: 0.1px solid #010101;
  border-radius: 8.2px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 15px;
  height: 28px;
  background: #E0CFB8;
  border: 0.9px solid #000105;
  border-radius: 43px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 14.9px 0;
  color: transparent;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #E0CFB8;
  border: 0.1px solid #010101;
  border-radius: 16.4px;
}
input[type=range]::-ms-fill-upper {
  background: #E0CFB8;
  border: 0.1px solid #010101;
  border-radius: 16.4px;
}
input[type=range]::-ms-thumb {
  width: 15px;
  height: 28px;
  background: #E0CFB8;
  border: 0.9px solid #000105;
  border-radius: 43px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #E0CFB8;
}
input[type=range]:focus::-ms-fill-upper {
  background: #E0CFB8;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

@media (max-width: 752px) {
  /* .grid {
    flex-direction: column;
  }

  .chord-options {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  } */

  .song-options-container {
    width: 555px;
    border-left: none;
    border-top: 1px solid #aaa;
  }
}