.App {
  display: grid;
  place-items: center;
  height: 100vh;
  width: auto;
}

header {
  background-color: darkgray;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2)
}

.navbar-with-image {
  position: absolute;
}

fieldset {
  border-radius: 25px;
  background-color: #FFFDF0;
}

fieldset span {
  background-color: #FFFDF0;
  border-radius: 5px;
  margin-top: 3px;
}
.chord-name-selection {
  width: 200px;
}

.chord-quality-selection {
  width: 200px;
}

.chord-bass-selection {
  width: 200px;
}

.menu-icon-background {
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 12px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 3px;
  /* background-color: black; */
  opacity: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-icon-bar {
  width: 75%;
  height: 10px;
  background-color:#FFFDF0;
  opacity: 100%;
  z-index: 1;
  margin: 2px;
  border-radius: 5px;
}

.navbar {
  display: none;
  flex-direction: column;
}

/* "https://images.unsplash.com/photo-1479118013749-9f79d55a28d0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" */
/* https://images.unsplash.com/photo-1522249210728-7cd95094022a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80 */
body {
  background-image: url("https://3.bp.blogspot.com/-Kj83IXBvWEE/VWNsUP6KYeI/AAAAAAAAABY/IbVEjp3BuOE/s1600/IMG_0278.JPG");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.song-maker-container {
  background-color: #FFFDF0;
  display: grid;
  /* place-items: center; */
  border-radius: 25px;
  box-shadow: inset 0px 0px 10px 3px rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.4);
  grid-template-areas:
  "chords"
  "co"
  "po"
  "beat"
  "mel"
  "save"
}

.bpm-meter{
  color: black;
}

.songs-container {
  height: 100vh;
  width: 45vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  overflow-y: scroll;
}

.user-page {
  display: flex;
}

span, p {
  font-family: "Courier New";
  font-weight: 900;
}

h1 {
  color: white;
  text-shadow:  2px 2px #2b2020;
  font-family: "Courier New";
}

h2 {
  font-family: "Courier New";
}

.checkbox-row {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 15px;
}
/* 
input[type='checkbox'] {
  height: 15px;
  width: 15px;
  background-color: #eee;
  margin: 0px;
  padding: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

.checkbox-container {
  height: 15px;
  width: 15px;
  display: flex;
  /* padding-left: 35px; */
  /* margin-bottom: 12px;  */
  /* cursor: pointer; */
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

.checkbox-container input {
  display: none;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  border-style: solid;
  border-width: thin;
  height: 15px;
  width: 15px;
  background-color: #DAC6AA;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #36241A;
}

.measure-line {
  margin-right: 5px;
}

.tempo-form {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.instrument-form {
  height: auto;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.beat-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.beat-form {
  grid-area: beat;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.melody-form {
  grid-area: mel;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.melody-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}


.song-box {
  height: minmax(15vh auto);
  width: 90%;
  display: grid;
  background-color: #FFFDF0;
  grid-template-columns: 110px auto;
  border-radius: 25px;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  grid-template-areas: 
  "strt title"
  "strt usr"
  "strt opt"
}

.song-list-start-button {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  font-size: x-large;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(-20deg, #FFFDF0 0%, #B2854E 100%, #B2854E 100%)
}

/* .song-list-start-button span {
  height: 85px;
  width: 85px;
  border-radius: 50%;
} */

.song-list-start-button:focus {
  outline: 0;
}

.song-list-start-button-container {
  grid-area: strt;
  display: flex;
  align-items: center;
  justify-content: center;
}

.song-title {
  grid-area: title;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
  overflow-x: scroll;
  height: 27px;
}

.song-options {
  grid-area: opt;
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.song-options button {
  margin-bottom: 0px;
}

.playback-options {
  display: flex;
  grid-area: po;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.random-chords-button {
  grid-area: rand;
  height: 85px;
  width: 85px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(-20deg,  #FFFDF0 0%, #B2854E 100%, #B2854E 100%)
}

.grid-start-button-container {
  grid-area: start;
  display: flex;
  align-items: center;
  justify-content: center;
}

.random-chords-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#grid-start-button {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  font-size: x-large;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(-20deg,  #FFFDF0 0%, #B2854E 100%, #B2854E 100%)
}

/* button {
  background: linear-gradient(-20deg, #FFFDF0 0%, #B2854E 100%, #B2854E 100%)
} */

/* 
AF6A40
7B8F93
7B8F93
311910
311910 

A5582E
D09A7B 
*/


#grid-start-button:focus {
  outline:0;
}

button:focus {
  outline:0;
}

/* .chord-options {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
} */

.chord-options {
  grid-area: co;
  display: grid;
  margin: 10px;
  grid-template-areas:
  "rand start save"
}

.login-all {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-all button {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.login-all span {
  color: red;
  display: none; 
}

.login-fields {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-fields input[type='submit'] {
  width: 100px;
  margin-bottom: 100px;
  margin-top: 5px;
}

.username, .password {
  height: 30px;
  width: 100%;
  font-size: x-large;
  font-family:  "Courier New";
  margin-bottom: 15px;
}



.chord-form input[type='submit'] {
  margin-left: 300px;
  margin-top: 10px;
}

.chord-form-chord {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.song-maker {
  grid-area: usr;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: left;
}

.chord-container {
  grid-area: chords;
  display: flex;
  width: auto;
  height: auto;
  margin: 10px;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
}

.mode-select {
  display: flex;
}

.save-container {
  grid-area: save;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-button {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(-20deg,  #FFFDF0 0%, #B2854E 100%, #B2854E 100%)
}

.chord-box {
  display: flex;
  height: 100px;
  width: 100px;
  border-style: solid;
  border-width: thin;
  background-color: #DAC6AA;
  border-radius: 25px;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.chord-box:hover {
  height: 99px;
  width: 99px;  
  box-shadow: none;
}

.chord-name {
  display: flex;
  width: 100px;
  flex-wrap: wrap;
  flex-flow: column wrap;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #E0CEB8;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border-radius: 25px;
  border: 1px solid #888;
  width: 650px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



input[type=range] {
  width: 100%;
  margin: 9.8px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #E0CFB8;
  border: 0.1px solid #010101;
  border-radius: 8.2px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -9.9px;
  width: 15px;
  height: 28px;
  background: #E0CFB8;
  border: 0.9px solid #000105;
  border-radius: 43px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #E0CFB8;
}
input[type=range]::-moz-range-track {
  background: #E0CFB8;
  border: 0.1px solid #010101;
  border-radius: 8.2px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 15px;
  height: 28px;
  background: #E0CFB8;
  border: 0.9px solid #000105;
  border-radius: 43px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 14.9px 0;
  color: transparent;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #E0CFB8;
  border: 0.1px solid #010101;
  border-radius: 16.4px;
}
input[type=range]::-ms-fill-upper {
  background: #E0CFB8;
  border: 0.1px solid #010101;
  border-radius: 16.4px;
}
input[type=range]::-ms-thumb {
  width: 15px;
  height: 28px;
  background: #E0CFB8;
  border: 0.9px solid #000105;
  border-radius: 43px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #E0CFB8;
}
input[type=range]:focus::-ms-fill-upper {
  background: #E0CFB8;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}